


.navbar-brand{
    color: white !important;
}

.add-btn{
    margin: 20px 0 20px 0;
}

.portfolio-name{
    font-weight: bold;
}

.portfolio-container{
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

.top-controller{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.bottom-controller{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

table{
    margin-top: 20px;
}

form div{
    margin-bottom: 10px;;
}


/*modal dialog for chart*/
    @media(min-width: 576px){
        .modal-dialog{
            max-width: 70% !important;
        }
    }